@{
    ViewData["Title"] = "Import friends";
}

<div class="text-center">

    <h1 class="display-4">Import friends from json</h1>
    @if (ViewBag.ImportSuccess != null && ViewBag.ImportSuccess == false)
    {
        <h3>Import failed!</h3>
    }
    <form asp-controller="User" asp-action="ImportFriends" method="post" enctype="multipart/form-data">
        <label>Chose file for import:</label>
        <input type="file" name="file" />
        <input type="submit" value="Import" />
    </form>

</div>
